<div>
   <section class="container">
        <h1>Budapesti menetrendek</h1>
        <p>
            Ezen az oldalon a budapesti menetrendeket tudod listázni és hozzá is tudsz adni újakat!
        </p>
        <button mat-raised-button *ngIf="user" color="primary" routerLink="/app-add-route">Járat hozzáadása</button>
        <button mat-raised-button *ngIf="user" color="accent" routerLink="/app-list-route">Járatok listázása</button>
        <button mat-raised-button *ngIf="user" color="accent" routerLink="/app-profile">Profil</button>
        <button mat-raised-button *ngIf="!user" color="accent" routerLink="/app-login">Bejelentkezés</button>
        <button mat-raised-button *ngIf="!user" color="accent" routerLink="/app-register">Regisztráció</button>
        <button mat-raised-button *ngIf="user" (click)="logOut()" color="accent" routerLink=''>Kijelentkezés</button>
   </section>
</div>
