<div>
   <section class="container">
        <h1>Budapesti menetrendek</h1>
        <p>
            Ezen az oldalon a budapesti menetrendeket tudod listázni és hozzá is tudsz adni újakat!
        </p>
        <button mat-raised-button color="primary" routerLink="/app-add-route">Járat hozzáadása</button>
        <button mat-raised-button color="accent" routerLink="/app-list-route">Járatok listázása</button>
        <button mat-raised-button color="accent" routerLink="/app-profile">Profil</button>
   </section>
</div>
